.centertext {
    text-align: center;
  }

  img {
    border-radius: 50%;
  }

  .container {
    display: grid;
    grid-template-columns: 0.1fr 3.4fr 0.1fr;
    grid-template-rows: 0.2fr 1.2fr 2fr 0.6fr;
    gap: 20px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". header ."
      ". body-one ."
      ". body-2 ."
      ". footer .";
  }

  .header {
    grid-area: header;
    border-bottom: 3px solid;
  }

  .body-one {
    grid-area: body-one;
    align-items: center;
    text-align: center;
    border-bottom: 3px solid;
  }

  .body-2 {
    grid-area: body-2;
    border-bottom: 3px solid;
  }

  .footer {
    grid-area: footer;
    text-align: center;
  }

  * {
    box-sizing: border-box;
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }

  th,
  td {
    text-align: left;
    padding: 16px;
  }